.tasksContainer {
  margin-top: 64px;
}

.tasksCounter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 24px 0;
}

.tasksCounter p {
  display: inline;
  font-size: 14px;
  font-weight: 700;
  cursor: default;
}

.tasksCounter span {
  margin-left: 4px;
}

.createdTasks {
  color: var(--blue);
}

.doneTasks {
  color: var(--purple);
}

.counter {
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 12px;
}
