.task {
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  width: 736px;
  background: var(--gray-500);
  font-size: 14px;
  padding: 16px;
  color: var(--gray-100);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task p {
  flex: 1;
  margin-left: 10px;
}

.doneTask {
  text-decoration: line-through;
  color: var(--gray-300);
}

.task svg {
  color: var(--gray-300);
  transition: color 0.4s;
  cursor: pointer;
}

.task svg:hover {
  color: var(--red);
}

.task+.task {
  margin-top: 12px;
}

.checkbox {
  appearance: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid var(--blue-dark);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox::before {
  position: absolute;
  content: '\2713';
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--purple-dark);
  background: var(--purple-dark);
  opacity: 0;
  transition: all 100ms ease-in;

  color: #fff;
  font-size: 12px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:checked:before {
  opacity: 1;
}