.task {
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  width: 736px;
  height: 72px;
  background: var(--gray-500);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  padding: 0 16px 0 16px;
  color: var(--gray-100);
}

.task svg {
  color: var(--gray-300);
  transition: color 0.4s;
  cursor: pointer;
}

.task svg:hover {
  color: var(--red);
}

.task + .task {
  margin-top: 12px;
}